<!-- Pannellum CDN -->
<script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.7/build/pannellum.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.7/build/pannellum.css">

<!--  -->
<div id="panorama-{{ .Ordinal }}" style="width: 100%; height: 400px; margin: 0 auto;"></div>

<script>
var panoramaImg = {{ .Get "image" | safeURL }};

pannellum.viewer('panorama-{{ .Ordinal }}', {
    "type": "equirectangular",
    "panorama": panoramaImg,
    "autoLoad": {{ .Get "autoload" | default true }},
    "autoRotate": {{ .Get "autorotate" | default 0 }}
});
</script>
